body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: flex;
    overflow: hidden;
}
.container{
    width: 830px;
    height: 440px;
    background-color: bisque;
    margin: 0 auto;
    border-radius: 20px;
    padding: 10px;
}
#video{
    height: 350px;
    width: 650px;
    float: left;
    margin-right: 10px;
}
iframe
{
    height: 400px;
    width: 650px;
    overflow: hidden;
}
#img {
    margin-top: 10px;
}
#img a img{
    width: 140px;
    margin-bottom: 20px;
    float: left;
}
#img a img:hover{
    width: 160px;
    padding-right: 10px;
    transition: calc(1.5s);
}
.audio{
    margin-top:45%;
    margin-left: 30%;
}