.vmenu{
    padding: 0;
    margin: 5px;
    list-style: none;
    border-radius: 3px;
    box-shadow: 0 0 2px gray;
}
.vmenu a{
    display: block;
    border-bottom: 1px dotted orangered;
    font-variant: small-caps;
    color: orangered;
    font-size: larger;
    text-decoration: none;
    background: url('../image/bullet_red.png') no-repeat 10px center ;
    padding: 10px 5px 8px 50px;
}
.vmenu a:hover{
    background: url('../image/bullet_yellow.png') no-repeat 10px center;
    border-bottom: 1px dotted white;
    background-color: orangered;
    color: white;
    font-weight: bold;
}